@page
@model TireHtP.Pages.HelpModel
@{
    ViewData["Title"] = "Help";
}

<h1>Help Version 17 July 2020</h1>

<ul>
    <li>
        Dynamic calculations are based on 3 times Weight.
    </li>
    <li>Weight is for one wheel, not vehicle or axle. </li>

    <li>
        Rim diameter is the diameter of the rim´s bead seat floor, not the diameter of the outer rim edge.See <a href="https://www.moderntiredealer.com/article/311190/wheel-dimensions">Wheel Dimensions</a>
    </li>
</ul>

<pre>
         , - ~ ~ ~ - ,
     , '               ' ,
   ,                       ,
  ,                         ,
 ,                           ,
 ,            /|             ,
 ,  Height /   |            ,
  ,      /     |Lift        ,
   ,   /       |           ,
     ,------B------------ '
       ' - , _ _ _ ,  '
    </pre>